Use TDD as workflow

Shop System

	- Shop has items
	- Customer has money
	- Customer can buy items
		- if the shop has it
		- if the customer has the funds
		- customer has item afterwards
	- Customer can return items
		- only when it was bought in the first place

C#

1. Create new Project in Visual Studio
2. Create another Project in the same workspace for testing
3. Reference Project in Test Project